.css-wwl1ek img {
  height: 4em;
  width: 4em;
  border-radius: 100%;
}

.feed-outer {
  height: 100%;
}

.feed-caps {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.feed-username {
  font-size: 25px;
  padding-left: 10px;
}

.feed-username-container span {
  padding-right: 10px;
}

.post-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-text-header {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.post-task {
  font-family: cursive;
  font-size: 22px;
  font-weight: 700;
  color: tomato;
}
