.home-outer {
  display: flex;
  justify-content: center;
}

.home-center-container {
  max-width: 1200px;
  min-width: 1000px;
  border-right: 2px solid #718096;
  border-left: 2px solid #718096;
}

.home-left-container {
  flex-grow: 1;
}

.slide-out-panel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.home-right-container {
  flex-grow: 1;
}

.chakra-modal__header {
display: flex;
justify-content: space-around;
align-items: center;
}

.chakra-modal__header img {
  height: 5em;
  width: 5em;
  border-radius: 100%;
}

.post-buttons {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #718096;
  border-bottom: 2px solid #718096;
  background-color: #C6F6D5;
}