.home-outer {
  display: flex;
  justify-content: center;
}

.home-center-container {
  max-width: 1200px;
  min-width: 1000px;
  border-right: 3px solid #718096;
  border-left: 3px solid #718096;
  box-shadow: 0 0 5px black;
}

.home-left-container {
  flex-grow: 1;
  background-image: linear-gradient( #F0FFF4, #276749);
}

.slide-out-panel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.slide-out-panel button {
  box-shadow: 2px 2px 10px black;
  margin-top: 10px;
  padding: 5px 12px;
}

.home-right-container {
  flex-grow: 1;
  background-image: linear-gradient(#F0FFF4, #276749);
}

.chakra-modal__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chakra-modal__header img {
  height: 5em;
  width: 5em;
  border-radius: 100%;
}

.post-buttons {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #718096;
  border-bottom: 2px solid #718096;
  background-color: #68D391;
}

.post-buttons button {
  box-shadow: 2px 2px 10px black;
  margin: 10px 0;
}

.feed-caps.tomato {
  color: tomato;
  display: flex;
  justify-content: center;
}



