@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.alice-carousel {
  margin: 0;
  width: 1200px;
}

.css-1nydx6f {
  background-color: #276749;
}

.landing-list {
  display: flex;
  justify-content: space-around;
}

.landing-list li {
  list-style: none;
  font-size: 50px;
  font-family: 'Potta One', cursive;
  color: tomato;
}

.carousel-container {
  height: 400px;
}

.lower-landing {
  background-image: linear-gradient( #F0FFF4, #276749);
  height: 60vh;
}