@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.alice-carousel {
  margin: 0;
  width: 1200px;
}

.css-1nydx6f {
  background-color: #276749;
}

.landing-list {
  display: flex;
  justify-content: space-around;
}

.landing-list li {
  list-style: none;
  font-size: 50px;
  font-family: 'Potta One', cursive;
  color: tomato;
  text-shadow: 1px 5px black;
}

.carousel-container {
  height: 400px;
}

.lower-landing {
  background-image: linear-gradient( #F0FFF4, #276749);
}

.lower-landing img {
  height: 500px;
}

.landing-trees {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  position: relative;
  bottom: -250px;
  opacity: 0;
  transition: bottom 4s, opacity 4s;
} 

.landing-trees.trees-end {
  bottom: 0px;
  opacity: 1;
}

.header-1.invisible {
  opacity: 0;
}

.header-1 {
  opacity: 1;
  transition: opacity 2s;
}
.header-2.invisible {
  opacity: 0;
}

.header-2 {
  opacity: 1;
  transition: opacity 2s;
}
.header-3.invisible {
  opacity: 0;
}

.header-3 {
  opacity: 1;
  transition: opacity 2s;
}

.mission-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: tomato;
  font-size: 40px;
  padding: 0 50px;
  position: relative;
}

.mission-wrapper div {
  display: flex;
  font-weight: bold;
  text-shadow: 1px 2px black;
}

.mission-wrapper h1{
  font-size: 75px;
  font-family: 'Potta One', cursive;
  color: tomato;
  text-shadow: 1px 5px black;
}

.mission-wrapper img {
  height: 200px;
}

.mission-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  bottom: 15px;
  position: absolute;
  margin-right: 200px;
}
