.profile-header-container {
  height: 250px;
  background-image: url('../images/clear-night.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-header-container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-username {
  width: 100%;
  font-size: 30px;
  color: white;
  font-weight: 700;
  display: flex;
}

.profile-username div {
  width: 33%;
  display: flex;
}

.username-center {
  display: flex;
  justify-content: center;
}
.username-right {
  display: flex;
  justify-content: flex-end;
}