.usersearch-user-container {
  height: 225px;
  width: 100%;
  padding: 30px;
}

.usersearch-user-container img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.usersearch-user-details-left {
  width: 40%;
  margin: 0 0 0 25px;
  font-weight: 800;
  font-size: 25px;
}

.usersearch-username {
  font-family: 'Potta One', cursive;
  color: white;
}

.friend-modal-button {
  margin-left: 15px;
  background-color: tomato;
  border: 3px solid #276749;
}

.usersearch-user-details-right {
  font-weight: 800;
  font-size: 25px;
}

.usersearch-user-details-right span {
  font-family: 'Potta One', cursive;
  color: white;
}

