.nav-container {
  display: flex;
  justify-content: center;
  height: 60px;
  border-bottom: 4px solid #718096;
}

.navbar-main {
  width: 100%;
  padding: 15px;
  display: flex;
}

.navbar-main ul {
  display: flex;
  justify-content: space-between;
}

.navbar-main li {
  list-style: none;
  padding: 0 50px 0 50px;
}

.navbar-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-left li {
  align-self: center;
}

.navbar-left svg {
  height: 50px;
}

.navbar-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.logo #one {
  color: #276749;
}

.logo #two {
  color: #718096;
}

.navbar-mail {
  display: flex;
  position: relative;
}

#mail-count {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
}

.navbar-mail button {
  padding-right: 0%;
  position: relative;
}
